<app-navbar></app-navbar>
<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<mat-grid-list cols="4"> 
<mat-grid-tile *ngFor="let pokemon of pokeList">
    <app-card [info]="pokemon" *ngIf="searchText === '' || pokemon.name.toLowerCase().includes(searchText)"  ></app-card>
</mat-grid-tile>
</mat-grid-list>

<div class="btn">
    <button [disabled]="page == 0" mat-fab (click)="prevPage()"  color="primary"><mat-icon>arrow_back_ios</mat-icon> </button>
    
    <button mat-fab  (click)="nextPage()" color="warn"><mat-icon>arrow_forward_ios</mat-icon></button>
</div>
